<html>
<body>
<h2>Верификация Email</h2>
<p>Спасибо за регистрацию в Froggy House! Пожалуйста, подтвердите свой адрес электронной почты, используя следующий код:</p>
<h2>{{verificationCode}}</h2>
<p>Если вы не регистрировались на нашем сайте, просто проигнорируйте это сообщение.</p>
<p>С уважением,<br>Команда поддержки Froggy House</p>
</body>
</html>
